/* =============
    Section 8
============= */
#section-8 {
    @include xl {
        display: grid;
        grid-template-areas: ". section-8 .";
        grid-template-columns: auto 1200px auto;
    }

    #section-8-content {
        grid-area: section-8;

        @include xl {
            margin-top: 50px;
        }

        #section-8-header {
            color: $gold;
            font-family: Patua One;
            font-size: 1.6rem;
            grid-area: section-8;
            margin: 30px 20px 30px 20px;
            text-align: center;
        }

        aside {
            background-image: url('../img/section-8/parade2.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 28vh;

            @include md {
                margin: 20px 120px 10px 120px;
            }

            @include lg {
                height: 60vh;
                margin: 20px 200px 10px 200px;
            }
        }

        p {
            font-family: Taviraj;
            font-size: 1.5rem;
            font-weight: 100;
            grid-area: section-8;
            line-height: 2rem;
            margin: 20px 30px 30px 30px;
            text-align: justify;

            @include md {
                margin: 20px 180px 10px 180px;
                text-align: center;
            }

            @include lg {
                margin: 20px 320px 10px 320px;
            }
        }

        #section-8-button {
            font-family: Taviraj light;
            font-size: 1.4rem;
            margin: 10px 0px 40px 0px;
            text-align: center;

            @include md {
                margin-right: 50px;
                margin-top: 25px;
                text-align: right;
            }

            a:link,
            a:visited {
                background-color: transparent;
                color: $lilac;
                padding: 10px 25px;
                text-decoration: none;
                transition: 0.25s;
                width: 100%;
            }

            a:hover,
            a:active {
                background-color: transparent;
                color: $gold;
            }
        }
    }
}