/* =============
    Section 3
============= */
#section-3 {
    background-color: transparent;
    display: grid;
    grid-template-areas: ". section-3 .";
    grid-template-columns: 0px auto 0px;

    #section-3-desktop {
         grid-area: section-3;

            @include lg {
                .container {
                  display: -webkit-box;
                  display: -moz-box;
                  display: -ms-flexbox;
                  display: -webkit-flex;
                  display: flex;
                  -webkit-box-orient: vertical;
                  -moz-box-orient: vertical;
                  -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                  flex-direction: column;
                }
              
                .container .section-3-image {
                  -webkit-box-ordinal-group: 2;
                  -moz-box-ordinal-group: 2;
                  -ms-flex-order: 2;
                  -webkit-order: 2;
                  order: 2;
                }
              
                .container .section-3-header {
                  -webkit-box-ordinal-group: 1;
                  -moz-box-ordinal-group: 1;
                  -ms-flex-order: 1;
                  -webkit-order: 1;
                  order: 1;
                }
        }

         aside{
             grid-area: image;
            background-image: url('../img/section-3/blueface.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: -300px 0px;
            height: 45vh;

            @include md{
                height: 30vh;
                background-position: 0px 0px;
            }

            @include lg{
                height: 60vh;
                background-position: 0px 0px;
            }
         }

            #section-3-header {
                grid-area: header;
                font-family: Patua One;
                font-size: 1.4rem;
                background-color: $boldorange;
                color: white;
                grid-area: section-3;
                margin: 0px 0px 0px 0px;
                padding: 20px 35px 20px 35px;
                text-align: center;

                @include md{
                    padding: 30px 35px 30px 35px;
                }

                @include lg{
                    background-color: transparent;
                    background-image: url('../img/section-3/deskheader.svg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 10vh;
                    padding-top: 100px;
                }
            }
        
            #section-3-list {
                font-family: Patua One;
                background-color: transparent;
                color: white;
                grid-area: section-3;
                margin: 40px 20px 40px 30px;
                text-align: left;
                font-size: 1.9rem;
                position: absolute;

                a:link,
                a:visited {
                    color: $white;
                    padding: 10px 25px 10px 15px;
                    text-decoration: none;
                    transition: 0.25s;
                    width: 100%;
                }

                a:hover,
                a:active {
                    color: $lilac;
                }

                margin-bottom: 30px;
                display: grid;
                gap: 20px;
                grid-template-columns: repeat(1, 2fr);
                grid-template-areas: 
                    "c1"
                    "c2"
                    "c3"
                    "c4"
                    "c5";
                grid-template-rows: repeat(5, 1fr);

                @include md {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }

                @include lg {
                    font-size: 2.2rem;
                    margin: 100px 140px 200px 140px;
                }

                @include xl {
                    font-size: 2.2rem;
                    margin: 100px 300px 200px 300px;
                }
            }

            #triangle{
                background-image: url('../img/section-3/mobshape1.svg');
                background-color: $tangerine;
                background-size: cover;
                background-repeat: no-repeat;
                display: block;
                background-position: 0px 0px;
                height: 70vh;

                @include md{
                    background-image: url('../img/section-3/deskshape1.svg');
                    background-position: center;
                    height: 40vh;
                } 

                @include lg{
                    height: 60vh;
                } 
            }
                
            #triangle-2{
                background-image: url('../img/section-3/mobshape2.svg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: -10px 0px;
                height: 20vh;
                width: 170px;

                @include md{
                    background-image: url('../img/section-3/deskshape2.svg');
                    background-position: 80px -106px;
                    height: 25vh;
                    width: 610px;
                }

                @include lg{
                    background-position: 53px -243px;
                    height: 50vh;
                    width: 900px;
                }

                @include xl{
                    background-position: 200px -235px;
                    height: 50vh;
                    width: 1050px;
                }
            }

            .list-container{
                margin-right: 100px;
            }

            .number{
                background-color: white;
                color: $lightorange;
                width: 40px;
                height: 40px;
                text-align: center;

                @include md{
                    margin-left: 40px;
                }
            }

            .word{

                @include md{
                margin-bottom: 100px;
                }
            }
            a{
                margin-left: 40px;

                @include md{
                    margin-left: 0px;
                    margin-right: 20px;
                }
            }

            #number-1-container{
                grid-area: c1; 

                @include sm{
                grid-template-columns: repeat(1,2fr);
                grid-template-rows: repeat(1,1fr);
                grid-template-areas: "n1 w1";
                }

                #number-1 {
                    grid-area: n1;
                }

                #word-1 {
                    grid-area: w1;
                }
            }

            #number-2-container{
                grid-area: c2;

                @include sm{
                    grid-template-columns: repeat(1,2fr);
                    grid-template-rows: repeat(1,1fr);
                    grid-template-areas: "n2 w2";
                }

                #number-2 {
                    grid-area: n2;
                }

                #word-2 {
                    grid-area: w2;
                }
            }

            #number-3-container{
                grid-area: c3;

                #number-3 {
                    grid-area: n3;
                }

                #word-3 {
                    grid-area: w3;
                    margin-right: 20px;
                }
            }

            #number-4-container{
                grid-area: c4;

                #number-4 {
                    grid-area: n4;
                }

                #word-4 {
                    grid-area: w4;
                }
            }


            #number-5-container{
                grid-area: c5;

                #number-5 {
                    grid-area: n5;
                }
    
                #word-5 {
                    grid-area: w5;
                }
            }

        }

    }