/* =============
    Section 4
============= */
#section-4 {
    margin-top: 50px;

    @include md {
        margin-top: 50px;
    }

    @include lg {
        margin-top: 55px;
    }

    @include xl {
        display: grid;
        grid-template-areas: ". section-4 .";
        grid-template-columns: auto 1200px auto;
        margin-top: 80px;
    }

    #section-4-desktop {
        grid-area: section-4;

        #section-4-header {
            color: $purple;
            font-family: Patua One;
            font-size: 1.6rem;
            grid-area: section-4;
            margin: 30px 20px 40px 20px;
            padding-right: 20px;
            text-align: left;

            @include md {
                margin-top: 0px;
                text-align: center;
            }
        }

        #section-4-container {
            @include lg {
                margin-bottom: 0px;
            }

            #section-4-image {
                background-image: url('../img/section-4/infovid.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                grid-area: image;
                height: 30vh;

                @include md {
                    height: 35vh;
                    margin: 0px 10% 0px 10%;
                }

                @include lg {
                    height: 57vh;
                    margin: 0px 5% 0px 0;
                }
            }

            #section-4-content {
                grid-area: type;

                p {
                    font-family: Taviraj;
                    font-size: 1.5rem;
                    font-weight: 100;
                    grid-area: section-4;
                    line-height: 2rem;
                    margin: 20px 30px 40px 30px;
                    text-align: justify;

                    @include md {
                        font-size: 1.7;
                        margin: 20px 150px 50px 150px;
                        text-align: center;
                    }

                    @include lg {
                        font-size: 1.7;
                        margin: 100px 150px 40px 10px;
                        text-align: left;
                    }
                }
            }
        }
    }
}