/* =============
    Section 4
============= */

#section-4 {
    display: grid;
    grid-template-areas: ". section-4 .";
    grid-template-columns: 0px auto 0px;

    #section-4-desktop{
        grid-area: section-4;

        #section-4-header {
            font-family: Patua One;
            color: $purple;
            grid-area: section-4;
            margin: 50px 20px 40px 20px;
            text-align: left;
            font-size: 1.6rem;
            padding-right: 20px;

            @include md{
                text-align: center;
                }
            }

            #section-4-container{

                @include lg{
                    display: grid;
                    grid-template-columns: 60% auto;
                    grid-template-areas: " image type";
                    margin-bottom: 80px;
                }
        
                #section-4-image{
                    grid-area: image;
                    background-image: url('../img/section-4/infovid.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 28vh;
                    
                    @include md{
                        margin: 0px 10% 0px 10%;
                        height: 35vh;
                    }

                    @include lg{
                        margin: 0px 10% 0px 0;
                        height: 47vh;
                    }
                  
                }
            
           #section-4-content{
            grid-area: type;

            p{
                font-family: Taviraj;
                font-weight: 100;
                font-size: 1.5rem;
                grid-area: section-4;
                line-height: 2rem;
                text-align: justify;  
                margin: 20px 30px 20px 30px;

                @include md{
                    text-align: center;
                    margin: 20px 150px 40px 150px;
                    font-size: 1.7;
                }

                @include lg{
                    text-align: left;
                    margin: 100px 150px 40px 10px;
                    font-size: 1.7;
                }
            }
           }
        }
}
}
           