/* =============
    Section 7
============= */

#section-7{

    @include xl{
        display: grid;
        grid-template-areas: ". section-7 .";
        grid-template-columns: auto 1200px auto;
        }

    #section-7-content{
        grid-area: section-7;
        // background-color: $lightgreen;
        margin-top: 20px;

        @include md{
            background-color: $midgreen;
            margin-top: 40px;
        }

        @include xl{
            margin-top: 50px;
        }


        #section-7-header{
            font-family: Patua One;
            background-color: $darkgreen;
            color: $white;
            grid-area: section-7;
            margin: 0px 0px 0px 0px;
            padding: 30px 20px 30px 20px;
            text-align: center;
            font-size: 1.6rem;
            
            @include md{
                background-color: transparent;
                background-image: url('../img/section-7/tabheader7-1.svg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 2px 0px;
                height: 5vh;
                padding-top: 50px;
            }

            @include lg{
                background-color: transparent;
                background-image: url('../img/section-7/deskheader.svg');
                background-position: center;
                height: 10vh;
                padding-top: 100px;
            }
        }
        
        aside{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 28vh;

            @include md{
                margin: 40px 80px 10px 80px;
                height: 34vh;
            }

            @include lg{
                margin: 40px 180px 10px 180px;
                height: 70vh;
            }
            }

        p{
            font-family: Taviraj;
            font-weight: 100;
            font-size: 1.5rem;
            grid-area: section-7;
            line-height: 2rem;
            margin: 80px 30px 50px 30px;
            text-align: justify;
            position: absolute;

            @include md{
                text-align: center;
                margin: 40px 138px 50px 138px;
            }

            @include lg{
                margin: 30px 220px 50px 220px;
            }

            @include xl{
                margin: 0px 400px 0px 300px;
            }

            
            }
        
            #trapezoid{
                background-image: url('../img/section-7/mobshape7green.svg');
                background-color: $lightgreen;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 60vh; 

                @include md{
                    background-image: url('../img/section-7/tabshape7green.svg');
                    height: 32vh;
                    background-color: $lightgreen;
                }

                @include lg{
                    height: 65vh;
                }

                @include xl{
                    height: 60vh;
                }
            }
    }
}
           