/* =============
    Section 2
============= */
#section-2 {

    @include xl{
        display: grid;
        grid-template-areas: ". section-2 .";
        grid-template-columns: auto 1200px auto;
        }

    #section-2-content {
        font-family: Taviraj;
        font-weight: 300;
        font-size: 1.6rem;
        grid-area: section-2;
        line-height: 2rem;
        margin: 0px 20px 0px 20px;
        text-align: justify;

        @include md{
            text-align: center;
            margin: 0px 50px 0px 50px;
        }

        @include lg{
            text-align: center;
            margin: auto 10% auto 10%;
        }

        #section-2-header {
            font-family: Patua One;
            font-weight: 100;
            text-align: center;
            color: $gold;
            font-size: 1.4rem;
            padding: 0px 0px 40px 0px;
        }

        #section-2-buttons {
            text-align: center;
            margin: 20px 0px 40px 0px;
            font-family: Taviraj light;
            font-size: 1.4rem;

            @include md{
                text-align: right;
                margin: 20px 0px 55px 0px;
            }

            a:link,
            a:visited {
                background-color: $white;
                color: $lilac;
                padding: 10px 25px;
                text-decoration: none;
                transition: 0.25s;
                width: 100%;
            }

            a:hover,
            a:active {
                background-color: $white;
                color: $gold;
            }

            #join-button {
                margin: 50px 0px 60px 0px;
                padding: 5px 10px 5px 10px;
                font-family: Patua One;
                font-size: 1.8rem;

                @include md{
                    text-align: center;
                }

                a:link,
                a:visited {
                    background-color: $lilac;
                    color: $white;
                    padding: 20px 45px;
                    text-decoration: none;
                    transition: 0.25s;
                    width: 100%;
                }

                a:hover,
                a:active {
                    background-color: $white;
                    border: 4px solid $lilac;
                    color: $lilac;
                }
            }
        }
    }
}