/* =============
    Section 5
============= */
#section-5 {
    @include xl {
        display: grid;
        grid-template-areas: ". section-5 .";
        grid-template-columns: auto 1200px auto;
    }

    #section-5-content {
        background-color: $midaqua;
        grid-area: section-5;

        #section-5-header {
            background-color: $darkaqua;
            color: $white;
            font-family: Patua One;
            font-size: 1.6rem;
            grid-area: section-5;
            margin: 0px 0px 20px 0px;
            padding: 40px 0px 40px 0px;
            text-align: center;

            @include md {
                background-color: transparent;
                background-image: url('../img/section-5/tabheader.svg');
                background-position: -130px 0px;
                background-repeat: no-repeat;
                background-size: cover;
                height: 5vh;
                padding-top: 50px;
            }

            @include lg {
                background-color: transparent;
                background-image: url('../img/section-5/deskheader.svg');
                background-position: center;
                height: 10vh;
                padding-top: 100px;
            }
        }

        #section-5-container {
            @include md {
                display: grid;
                grid-template-areas: "video clock";
                grid-template-columns: 60% auto;
            }

            @include lg {
                display: grid;
                grid-template-areas: "clock video";
                grid-template-columns: auto 60%;
            }

            #section-5-countdown {
                color: white;
                font-family: Taviraj;
                font-size: 1.2rem;
                font-weight: 700;
                grid-area: clock;
                margin-bottom: 40px;
                text-align: center;

                @include md {
                    margin-top: 30%;
                }

                @include lg {
                    margin-top: 15%;
                }

                h4 {
                    display: inline-block;
                    font-size: 2rem;
                    padding: 10px 10px 0px 10px;
                    text-align: center;

                    @include lg {
                        font-size: 2.2rem;
                    }
                }

                .c-5-numbers {
                    background-color: white;
                    border-radius: 100%;
                    color: $lightaqua;
                    display: inline-block;
                    font-size: 1.6rem;
                    height: 58px;
                    list-style: none;
                    margin: 10px 0px 0px 0px;
                    padding: 33px 30px 0px 30px;
                    text-align: center;
                    width: calc(100% / 4);

                    @include md {
                        height: 50px;
                        padding: 25px 29px 0px 21px;
                    }

                    @include lg {
                        display: block;
                        font-size: 1.8rem;
                        height: 57px;
                        margin-left: 180px;
                        padding: 28px 10px 0px 10px;
                        text-align: center;
                        width: 10vh;
                    }

                    @include xl {
                        height: 65px;
                        margin-left: 190px;
                        padding: 30px 10px 0px 10px;
                    }
                }

                .c-5-words {
                    display: inline-block;
                    font-size: 1.2rem;
                    list-style: none;
                    margin: 10px 0px 0px 0px;
                    text-align: center;
                    width: 100%;

                    @include lg {
                        display: block;
                        font-size: 1.8rem;
                        text-align: center;
                    }
                }

                ul {
                    display: grid;
                    grid-template-areas: "c-g-1 c-g-2 c-g-3";
                    grid-template-columns: repeat(3/33%);

                    @include lg {
                        display: grid;
                        grid-template-areas: "c-g-1"
                            "c-g-2"
                            "c-g-3";
                    }
                }
            }

            #c-group-1 {
                grid-area: c-g-1;
            }

            #c-group-2 {
                grid-area: c-g-2;
            }

            #c-group-3 {
                grid-area: c-g-3;
            }

            #section-5-image {
                grid-area: video;

                @include md {
                    margin: 40px 0px 0px 0px;
                }

                @include lg {
                    margin-top: 15%;
                }
            }
        }

        h6 {
            color: white;
            font-family: Taviraj;
            font-size: 1.2rem;
            font-weight: 700;
            margin: 10px 10px 20px 20px;
            padding-left: 150px;
            position: absolute;
            text-align: right;

            @include md {
                font-size: 1.5rem;
                margin: 20px 0px;
                padding: 0px 0px 0px 20px;
                position: relative;
                text-align: left;
            }

            @include lg {
                margin: 0px 20px 0px 0px;
                text-align: right;
            }
        }

        #section-5-oval {
            background-color: transparent;
            background-image: url('../img/section-5/mobshape3-2.svg');
            background-position: 0px 0px;
            background-repeat: no-repeat;
            background-size: cover;
            height: 27vh;

            @include md {
                background-color: white;
                background-image: url('../img/section-5/tabshape3.svg');
                background-position: center;
                height: 14vh;
            }

            @include lg {
                background-image: url('../img/section-5/deskshape5blue.svg');
                background-position: center;
                height: 30vh;
                width: 100%;
            }

            @include xl {
                background-position: center;
                height: 32vh;
                width: 100%;
            }
        }
    }
}