/* =============
    Footer
============= */
footer {
    color: black;
    padding: 0px 0px 50px 0px;
    text-align: center;

    @include md {
        grid-template-columns: auto 768px auto;
    }

    @include lg {
        grid-template-columns: auto 1200px auto;
    }

    #footer-content {
        grid-area: footer;

        @include md {
            display: grid;
            grid-template-areas: "band band"
                "header icons";
            grid-template-columns: 50% auto;
            grid-template-rows: repeat(2/1fr);
        }

        >div {
            background-color: $lilac;
            grid-area: band;
            height: 10vh;
            width: 100%;
        }

        h3 {
            font-family: Taviraj;
            font-size: 1.25rem;
            font-weight: 300;
            grid-area: header;
            margin: 20px 10px 20px 10px;

            @include md {
                font-size: 1.2rem;
                margin: 10px 10px 20px 10px;
                text-align: left;
            }

            @include lg {
                font-size: 1.4rem;
                margin: 20px 10px 20px 40px;
            }
        }

        h4 {
            font-family: Taviraj;
            font-size: 1.2rem;
            font-weight: 300;
            margin: 5px 10px 20px 10px;
        }

        ul {
            display: flex;
            font-size: 1rem;
            grid-area: icons;
            justify-content: center;

            @include md {
                justify-content: flex-end;
            }

            @include lg {
                font-size: 1.4rem;
                margin: 10px 10px 20px 40px;
            }

            li {
                margin: 10px 10px;

                a:link,
                a:visited {
                    color: $gold;
                    font-size: rem-calc(30);
                    transition: 0.25s;
                }

                a:hover,
                a:active {
                    color: $purple;
                }
            }
        }
    }
}