/* =============
    Header
============= */
header {
    background-color: $white;
    color: $purple;
    left: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;

    >div {
        display: grid;
        grid-template-areas: "burger logo"
            "nav nav";
        grid-template-columns: auto 80%;

        @include lg {
            grid-template-areas: "nav logo";
            grid-template-columns: auto 20%;
        }

        #search-container {
            align-items: center;
            display: flex;
            grid-area: logo;
            justify-content: flex-end;
            padding-right: 15px;

            @include md {
                // margin-left: 70%;
            }

            @include lg {
                margin-left: 40%;
            }
        }

        #burger-container {
            align-items: center;
            display: flex;
            font-size: 1.5rem;
            grid-area: burger;
            padding: 20px;

            @include lg {
                display: none !important;
            }

            i {
                cursor: pointer;
            }
        }

        #nav-container {
            background-color: $purple;
            display: none;
            font-family: Taviraj;
            font-weight: 500;
            grid-area: nav;
            padding: 10px 20px;

            a:link,
            a:visited {
                background-color: $purple;
                color: white;
                padding: 10px 0px;
                text-decoration: none;
                transition: 0.25s;
                width: 100%;

                @include lg {
                    background-color: $white;
                    color: $purple;
                    display: block !important;
                    padding: 10px 35px;
                }
            }

            a:hover,
            a:active {
                background-color: transparent;
                color: $gold;
            }

            @include lg {
                background-color: $white;
                display: block !important;
            }
        }

        ul {
            @include lg {
                display: grid;
                font-size: 1.25rem;
                grid-template-columns: 12% 10% 12% 12% 10% 12%;
            }
        }
    }
}