/* =============
    Header
============= */

header {
    background-color: $white;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    color: $purple;

    >div {
        display: grid;
        grid-template-areas: "burger logo"
            "nav nav";
        grid-template-columns: auto 80%;

        @include lg {
            grid-template-areas: "nav logo";
            grid-template-columns: auto 20%;
        }

        #logo-container {
            grid-area: logo;
            padding: 20px;
            text-align: right;
            // border: solid;
            // border-color: $purple;
            // border-radius: 100%;

            a:link,
            a:visited {
                background-color: $white;
                border-radius: 23px;
                color: $purple;
                font-size: rem-calc(18);
                font-weight: 700;
                padding: 10px 25px;
                text-decoration: none;
                transition: 0.25s;
            }

            a:hover,
            a:active {
                background-color: $black;
                color: $white;
            }
        }

        #burger-container {
            align-items: center;
            display: flex;
            grid-area: burger;
            padding: 20px;

            @include lg {
                display: none !important;
            }

            i {
                cursor: pointer;
            }
        }

        #nav-container {
            background-color: $white;
            display: none;
            grid-area: nav;
            padding: 0 20px;

            @include lg {
                background-color: $white;
                display: block !important;
            }
        }
    }
}